
button{
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  padding: 2px 12px;
  text-align: left;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;}

  button:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}


body{text-align: center;background-color: rgb(240, 148, 148); justify-self: center; color: rgb(136, 12, 12);}

.wrapper{width: 600px; background-color: white; border-radius: 30px; margin-top: 100px;}

header{font-size: 50px;padding-top: 5px;}

.content{margin-top: 40px; font-size: x-large; margin-left: 5px; margin-right: 5px;}

.buttons{margin-top: 50px; padding-bottom: 30px;}
