




button{font-family: Georgia, 'Times New Roman', Times, serif;
font-size: xx-large;
text-align: center;
padding: 15px;
cursor: pointer;
background-color: white;
;
}

p{font-family: Georgia, 'Times New Roman', Times, serif;
font-size: x-large;
}