.cellBoxContainer{display:grid; 
        grid-template-columns: 100px 100px 100px; 
        border-style:solid; 
        border-color:rgb(255, 255, 255); 
        width:300px;
        }


.cellBox{border: 1px;
        cursor: pointer;
        border-style:solid;
        border-color:rgb(255, 255, 255);
        width:100px;
        height:100px;
        font-size: 100px;
        text-align: center;
        }  

.stats{font-size: 25px;}



#reset {
  background-color: #000000;
  border: 1px solid #ffffff;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}
